body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

hr {
  border-style: none;
  background-color: transparent;
  border-top-style: dotted;
  border-color: #EAF6F6;
  border-width: 5px;
  width: 10%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

h1 {
  font-size: 4rem;
  color: #66BFBF;
  margin: 40px auto 0 auto;
  font-family: "Sacramento", cursive;
  line-height: 3.5;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #66BFBF;
}

a {
  color: #11999E;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 80px;
}

.middle-container {
  margin: 100px 0;
  background-color: white;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 40px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.profile-pic {
  height: 160px;
  width: 160px;
}

.outline {
  text-decoration: line-through;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills-pic {
  /*****height: 140px;
  width: 140px;****/
  width: 25%;
  float: left;
  margin-right: 30px;
}

.diploma-pic {
  width: 25%;
  float: right;
  margin-right: 30px;
}

.desk-pic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.coding-skills {
  color: #40514E;
}

.copyright {
  color: #EAF6F6;
  font-size: 1rem;
  padding: 20px 0;
}

.contact-me {

}

.footer-link {
  color: #11999E;
  line-height: 2;
  font-size: 2;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #EAF6F6;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
